/* Tektur font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700&display=swap');

* {
    font-family: 'Tektur', cursive;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #131313;
    --secondary-color: #727272;
    --font-color: #FFF;
    --font-color-2:#FF900E;
    --bg-color:#FFF4E7;
}

.type-1{
    color: var(--secondary-color);
}
.type-2{
    color: var(--font-color-2);
}
.btn-primary {
    width: 150px;
    height: 40px;
    margin: 20px 0px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: var(--font-color);
}


/* ///////////   ||||||   \\\\\\\\\\\\\\ */
/* ///////////   ||||||   \\\\\\\\\\\\\\ */
/* ///////////   ||||||   \\\\\\\\\\\\\\ */
/* ///////////   ||||||   \\\\\\\\\\\\\\ */
/* ///////////   ||||||   \\\\\\\\\\\\\\ */
/* ///////////   ||||||   \\\\\\\\\\\\\\ */

/* Header starts here */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 230px;
}

nav {
    display: flex;
    justify-content: space-between;
}
nav h3{
    font-size: 2rem;
}
nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {

    margin-right: 20px;
}
nav li a{

    color: var(--primary-color);
}

.banner {
    text-align: center;
    padding: 50px;
}

.banner-text {

    max-width: 600px;
    margin: 0px auto;
    text-align: center;

}

.banner-text h1 {
    color: var(--primary-color, #131313);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.banner-text p {
    color: var(--secondary-color);
    padding-top: 0.5rem;
}

.banner-image img {
    width: 100%;
}

/* ///////////   ||||||   \\\\\\\\\\\\\\ */
/* ///////////   ||||||   \\\\\\\\\\\\\\ */
/* ///////////   ||||||   \\\\\\\\\\\\\\ */
/* ///////////   ||||||   \\\\\\\\\\\\\\ */
/* ///////////   ||||||   \\\\\\\\\\\\\\ */
/* ///////////   ||||||   \\\\\\\\\\\\\\ */

/* main starts here */

main{
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

/* team section here */

.team>div{
    width: 50%;
}
.team{
    display: flex;
    margin: 6rem 0rem;
    gap: 5rem;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 1rem;

}
.team-images img{
    width: 100%;
    border-radius: 0.3rem;
}
.team-text h2{
    font-size: 3rem;
    font-weight: 500;
}
.team-text p{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

/* features section starts here */

.features{
    display: flex;
    gap: 4rem;
    margin-bottom: 10rem;
}
.features h3{
    font-size: 2rem;
    margin-bottom: .5rem;
    border-left: .3rem solid var(--font-color-2);
    padding: .5rem;
}
.features p{
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.cards{
    padding: .5rem 1rem;
    border: 2px solid transparent;
    box-shadow: 0px 5px 20px 0px var(--secondary-color);
    border-radius: .5rem;
    margin-bottom: 3rem;
}
.cards h4{
    font-size: 1rem;
}
.cards p{
    font-size: .8rem;
}
.feature-image img{
    margin-left: 2.5rem;
    height: 90%;
}
.experience{
    background-color: var(--font-color-2);
    color: #FFF;
    width: 10rem;
    height: 5rem;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    bottom: 5rem;
}

/* facts section starts here */
.facts{
    margin-bottom: 5rem;
}
.facts h3{
    font-size: 2rem;
    margin-bottom: .5rem;
}
.facts p{
    font-size: 1rem;
}
.stats{
    border: 2px solid var(--font-color-2);
    border-radius: 10px;
    margin-top: 2rem;
    text-align: center;
    padding: 2rem;
    
}
.stats-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8rem;
}

/* sponsors section starts here */

.sponsors{
    text-align: center;
}
.sponsors h3{
    font-size: 2rem;
    margin-bottom: .5rem;
}
.sponsors p{
    font-size: 1rem;
}

.sponsors-container{
    margin: 3rem 0rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

 /* footer section here */

 footer{
    background-color:var(--bg-color) ;
    width: 80%;
    margin: 5rem auto;
    text-align: center;
    padding: 1.5rem;

}
footer h2{

    font-size: 1rem;
    font-weight: 400;
}