/* Mobile devices */

@media screen and (max-width:576px){
    nav{
        flex-direction: column;
        /* padding: 0px 20px; */
        text-align: center;
    }
    nav h3{
        font-size: 2rem;
    }
    header{
        padding: 20px 0px;
    }
    nav ul{
        flex-direction: column;
        margin-top: 10px;
        justify-content: center;
        align-items: center;

    }
    .banner{
        padding: 15px;
    }
    nav li{
        margin-top: 5px;
    }
    .banner-text h1 {
        font-size: 2rem;
        
    }
    .team{
        flex-direction: column;
    }
    .team>div{
        width: 100%;
    }
    .team-text{
        text-align: center;
    }
    .team-text h2{
        font-size: 2.5rem;
    }
    .team-text p{
       
        font-size: .9rem;
    }
}
/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:992px){
    nav{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
    }
    header{
        padding: 30px;
    }
    .banner-text h1 {
        font-size: 2rem;
        
    }
    .team-text h2{
        font-size: 2rem;
    }
    .team-text p{
       
        font-size: .8rem;
    }
    
}